body {
    background-color: #0B0C10;
}
#title {
  display:flex;
  flex-direction:column;
}
h1 {
    color:#66fc51;
    text-align:center;
    font-family: Bebas Neue;
    font-size: 350%;
}
#title p {
    color:#45a29e;
    text-align: center;
    font-size: 120%;
    margin-top: -20px;
    font-family: sans-serif;
    font-weight:bold;
}
#img-div {
  display:flex;
  flex-direction:column;
  align-items: center;
}
#img-div p{
  color:gray;
  font-size:70%;
}
img{
  border-radius:15px;
  height: auto;
  max-width:70%
}
#tribute-info {
   color:white;
  font-family:manrope;
  margin-left:15px; 
}
#tribute-info {
  color:white;
  margin-left:50px;
  margin-right:20px;
  opacity:80%
}
a {
  text-decoration:none;
  color:cyan;
}
#tribute-text {
  color:white;
  margin-left:50px;
}
